<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="{{ url_for('static', path='favicon.png') }}">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="{{ url_for('static', path='fonts/icomoon/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='fonts/flaticon/font/flaticon.css') }}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

	<link rel="stylesheet" href="{{ url_for('static', path='css/tiny-slider.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/aos.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/glightbox.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', path='css/flatpickr.min.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<title>{% block title %}{% endblock %}</title>
</head>
	<body>{% block content %}{% endblock %}

	<div id="snackbar">Ошибка</div>

	<script src="{{ url_for('static', path='js/auth/is_auth.js') }}"></script>
	<script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>


	<script src="{{ url_for('static', path='js/tiny-slider.js') }}"></script>
	<script src="{{ url_for('static', path='js/flatpickr.min.js') }}"></script>
	<script src="{{ url_for('static', path='js/aos.js') }}"></script>
	<script src="{{ url_for('static', path='js/glightbox.min.js') }}"></script>
	<script src="{{ url_for('static', path='js/navbar.js') }}"></script>
	<script src="{{ url_for('static', path='js/counter.js') }}"></script>
	<script src="{{ url_for('static', path='js/custom.js') }}"></script>
	<script src="{{ url_for('static', path='js/blog.js') }}"></script>

	</body>
</html>