{% extends 'main/base.html' %}

{% block title %}Статьи{% endblock %}

{% block content %}

{% include 'main/page-parts/menu.html'%}

	<div class="section search-result-wrap">
		<div class="container">
<!--			<div class="row">-->
<!--				<div class="col-12">-->
<!--					<div class="heading">Category: Business</div>-->
<!--				</div>-->
<!--			</div>-->
			<div class="row posts-entry">
				<div class="col-lg-8">

					{% for post in posts.items %}  <!-- items потому что также приходят данные пагинации  -->
					<div class="blog-entry d-flex blog-entry-search-item">
						<a href="/posts/{{post.category.slug}}/{{post.slug}}" class="img-link me-4">
							<img src="{{url_for('media', path=post.image) if post.image else url_for('media', path='images/hero_1.jpg')}}" alt="Image" class="img-fluid">
						</a>
						<div>
							<span class="date">{{post.date_creation.date()}} &bullet; <a href="/posts/{{post.category.slug}}">{{post.category.name}}</a></span>
							<h2><a href="/posts/{{post.category.slug}}/{{post.slug}}">{{post.title}}</a></h2>
							{% if post.short_description %}
								<p>{{post.short_description}}</p>
							{% endif %}
							<p><a href="/posts/{{post.category.slug}}/{{post.slug}}" class="btn btn-sm btn-outline-primary">Подробнее</a></p>
						</div>
					</div>
					{% endfor %}


					<div class="row text-start pt-5 border-top">
						<div class="col-md-12">
							<div class="custom-pagination">

								{% if posts.page == 3 %}
									<a href="{{posts.links.first}}">1</a>
								{% elif posts.page > 3 %}
									<a href="{{posts.links.first}}">1</a>
									<span>...</span>
								{% endif %}
								{% if posts.links.prev %}
									<a href="{{posts.links.prev}}">{{posts.page-1}}</a>
								{% endif %}
								<a href="{{posts.links.self}}">{{posts.page}}</a>
								{% if posts.links.next %}
									<a href="{{posts.links.next}}">{{posts.page+1}}</a>
								{% endif %}
								{% if posts.page + 2 < posts.pages %}
									<span>...</span>
									<a href="{{posts.links.last}}">{{posts.pages}}</a>
								{% elif posts.page + 1 < posts.pages %}
									<a href="{{posts.links.last}}">{{posts.pages}}</a>
								{% endif %}

							</div>
						</div>
					</div>

				</div>

				<div class="col-lg-4 sidebar">

<!--					<div class="sidebar-box search-form-wrap mb-4">-->
<!--						<form action="#" class="sidebar-search-form">-->
<!--							<span class="bi-search"></span>-->
<!--							<input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">-->
<!--						</form>-->
<!--					</div>-->
					<!-- END sidebar-box -->
<!--					<div class="sidebar-box">-->
<!--						<h3 class="heading">Popular Posts</h3>-->
<!--						<div class="post-entry-sidebar">-->
<!--							<ul>-->
<!--								<li>-->
<!--									<a href="">-->
<!--										<img src="images/img_1_sq.jpg" alt="Image placeholder" class="me-4 rounded">-->
<!--										<div class="text">-->
<!--											<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>-->
<!--											<div class="post-meta">-->
<!--												<span class="mr-2">March 15, 2018 </span>-->
<!--											</div>-->
<!--										</div>-->
<!--									</a>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a href="">-->
<!--										<img src="images/img_2_sq.jpg" alt="Image placeholder" class="me-4 rounded">-->
<!--										<div class="text">-->
<!--											<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>-->
<!--											<div class="post-meta">-->
<!--												<span class="mr-2">March 15, 2018 </span>-->
<!--											</div>-->
<!--										</div>-->
<!--									</a>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a href="">-->
<!--										<img src="images/img_3_sq.jpg" alt="Image placeholder" class="me-4 rounded">-->
<!--										<div class="text">-->
<!--											<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>-->
<!--											<div class="post-meta">-->
<!--												<span class="mr-2">March 15, 2018 </span>-->
<!--											</div>-->
<!--										</div>-->
<!--									</a>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</div>-->
<!--					</div>-->
					<!-- END sidebar-box -->

					  <div class="sidebar-box">
						<h3 class="heading">Категории</h3>
						<ul class="categories">
						  {% for category in categories %}
						  <li><a href="/posts/{{category.slug}}">{{category.name}} <span>{{ category.posts|length }}</span></a></li>
						  {% endfor %}
						</ul>
					  </div>
					<!-- END sidebar-box -->

<!--					<div class="sidebar-box">-->
<!--						<h3 class="heading">Tags</h3>-->
<!--						<ul class="tags">-->
<!--							<li><a href="#">Travel</a></li>-->
<!--							<li><a href="#">Adventure</a></li>-->
<!--							<li><a href="#">Food</a></li>-->
<!--							<li><a href="#">Lifestyle</a></li>-->
<!--							<li><a href="#">Business</a></li>-->
<!--							<li><a href="#">Freelancing</a></li>-->
<!--							<li><a href="#">Travel</a></li>-->
<!--							<li><a href="#">Adventure</a></li>-->
<!--							<li><a href="#">Food</a></li>-->
<!--							<li><a href="#">Lifestyle</a></li>-->
<!--							<li><a href="#">Business</a></li>-->
<!--							<li><a href="#">Freelancing</a></li>-->
<!--						</ul>-->
<!--					</div>-->

				</div>
			</div>
		</div>
	</div>


{% include 'main/page-parts/footer.html'%}

{% include 'main/page-parts/preloader.html'%}

{% endblock %}
